<div class="container" fxFlex>
    <div fxFlex="100" fxLayout="column" class="manu" fxLayoutAlign="center center">
        <ul class="navigation-items">
            <!-- <div class="item" fxLayout="row">
                <li><a href="/welcome">HOME PAGE</a></li>
            </div> -->
            <div class="item" fxLayout="row">
                <li><a routerLink="/dashboard">DASHBOARD</a></li>
            </div>
            <div class="item" fxLayout="row">
                <li><a style="cursor: pointer;" (click)="logout()">LOGOUT</a></li>
            </div>
        </ul>
    </div>
</div>