<div class="container" fxFlex fxLayoutAlign="none">
    <div class="card-deck" fxLayout="column">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title"><b>{{user.username}}</b></h1>
                <p class="card-text"><strong>
                        <ul class="details-items">
                            <li>First Name: {{user.firstName}}</li>
                            <li>Last Name: {{user.lastName}}</li>
                            <li>Email: {{user.email}}</li>
                            <li>Role : {{user.role}}</li>
                            
                        </ul>
                    </strong></p>
                <div>
                    <h1 class="card-title"><b>Reservations: </b></h1>
                    <mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="reservationNumber">
                            <mat-header-cell *matHeaderCellDef>Reservation Number</mat-header-cell>
                            <mat-cell *matCellDef="let element"><a routerLink="/confirmation/{{element.ticketNumber}}">{{element.ticketNumber}}</a></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="origin">
                            <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.origin}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="destination">
                            <mat-header-cell *matHeaderCellDef>To</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.destination}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="price">
                            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.price | currency}}</mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>


                    </mat-table>
                </div>
                <a routerLink="/user-list" class="btn btn-primary btn-custom-link">Back</a>
            </div>
        </div>
    </div>
</div>